label{
    color: white
}
.all{
    display: grid;
    justify-content: center;
    background-color: #041b24;
    width: 60%;
    height: 500px;
    margin: auto;
    margin-top: 55px;
    border-radius: 20px;
}
.image img{
   width: 80%;
   height: 300px;
   margin-top: 20px;
}
.forms{
    height: 200px;
}
.all h1{
    color: white;
}
.usercontents{
    display: flex;
    margin-top: -80px;
}
.age button{
    height: 30px;
    width: 80px;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 35px;

}
.age button:hover{
    background-color: #041b24;
    color: white;
}